# PYNQ-Z2 onboard USB-JTAG (FT2232HQ): channel A = JTAG, channel B = UART.
# Digilent HS1-style wiring: TCK/TDI/TDO/TMS only, no TRST/SRST.
adapter driver ftdi
transport select jtag

ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0088 0x008b
reset_config none

adapter speed 1000
